{{- /*
--------------------------------------------------------------------------
Derived configuration
--------------------------------------------------------------------------
*/ -}}

{{- $programs_directory := get . "programs_directory" | default (joinPath "${HOME}" ".local") -}}
{{- $sources_codes := get . "sources_codes" | default (joinPath "${HOME}" ".sources_codes") -}}

{{- $zsh := get . "zsh" | default dict -}}
{{- $zsh_cache_dir := get $zsh "cache" | default (joinPath "${XDG_CACHE_HOME}" "zsh") -}}
{{- $zsh_histfile := get $zsh "histfile" | default (joinPath "$ZSH_CACHE_DIR" "history") -}}

{{- $rust := get . "rust" | default dict -}}
{{- $neovim := get . "neovim" | default dict -}}
{{- $python := get . "python" | default dict -}}

{{- $lang := get . "lang" | default "C.UTF-8" -}}
{{- $lc_all := get . "lc_all" | default "C.UTF-8" -}}

# -----------------------------------------------------------------------------

# Environment

# -----------------------------------------------------------------------------

export XDG_CONFIG_HOME="${XDG_CONFIG_HOME:-$HOME/.config}"
export XDG_DATA_HOME="${XDG_DATA_HOME:-$HOME/.local/share}"
export XDG_CACHE_HOME="${XDG_CACHE_HOME:-$HOME/.cache}"
export XDG_STATE_HOME="${XDG_STATE_HOME:-$HOME/.local/state}"

export SOURCES_CODES={{ $sources_codes | quote }}
export PROGRAMS_DIRECTORY={{ $programs_directory | quote }}

export LANG={{ $lang | quote }}
export LC_ALL={{ $lc_all | quote }}

# -----------------------------------------------------------------------------

# Oh My Zsh

# -----------------------------------------------------------------------------

export ZSH={{ joinPath "${PROGRAMS_DIRECTORY}" "oh-my-zsh" | quote }}

ZSH_THEME="murilasso"

plugins=(
git
chezmoi
{{- if .tmux.enable }}
tmux
{{- end }}
)

COMPLETION_WAITING_DOTS="true"
DISABLE_UNTRACKED_FILES_DIRTY="true"

# -----------------------------------------------------------------------------

# Zsh

# -----------------------------------------------------------------------------

{{- if get $zsh "enable" | default false }}

ZSH_CACHE_DIR={{ $zsh_cache_dir | quote }}

if [[ ! -d "${ZSH_CACHE_DIR}" ]]; then
mkdir -p "${ZSH_CACHE_DIR}"
fi

ZSH_COMPDUMP="${ZSH_CACHE_DIR}/zcompdump-${SHORT_HOST}-${ZSH_VERSION}"

autoload -Uz compinit
compinit -d "${ZSH_COMPDUMP}"

export HISTFILE={{ $zsh_histfile | quote }}

{{- end }}

# -----------------------------------------------------------------------------

# tmux

# -----------------------------------------------------------------------------

{{- if .tmux.enable }}

alias tmux="TERM=screen-256color-bce tmux"

{{- end }}

# -----------------------------------------------------------------------------

# Rust

# -----------------------------------------------------------------------------

{{- if get $rust "enable" | default false }}

{{- $cargo_home := get $rust "cargo_home" -}}
{{- if $cargo_home }}

. {{ joinPath $cargo_home "env" }}
export CARGO_HOME="{{ get . "programs_directory" | default (joinPath .chezmoi.homeDir ".local") }}/cargo"
export RUSTUP_HOME="{{ get . "programs_directory" | default (joinPath .chezmoi.homeDir ".local") }}/rustup"


{{- end }}
{{- end }}

# -----------------------------------------------------------------------------

# Neovim

# -----------------------------------------------------------------------------

{{- if .neovim.enable }}

{{ $nvim_program_dir := get $neovim "program_directory" | default (joinPath "${PROGRAMS_DIRECTORY}" "nvim") -}}

export NVIM_PROGRAM_DIR={{ $nvim_program_dir | quote }}
export PATH="${NVIM_PROGRAM_DIR}/bin:${PATH}"

export EDITOR="${NVIM_PROGRAM_DIR}/bin/nvim"

{{- end }}

# -----------------------------------------------------------------------------

# Python

# -----------------------------------------------------------------------------

{{- $pyenv := get $python "pyenv" | default dict -}}
{{- if and (.python.enable | default false) (get $pyenv "enable" | default false) }}

export PYENV_ROOT={{ get $pyenv "program_directory" | default (joinPath "${PROGRAMS_DIRECTORY}" "pyenv") | quote }}
export PATH="${PYENV_ROOT}/bin:${PATH}"

eval "$(pyenv init -)"

{{- end }}

# -----------------------------------------------------------------------------

# User profile

# -----------------------------------------------------------------------------

if [[ -f "${HOME}/.zsh_profile" ]]; then
source "${HOME}/.zsh_profile"
fi

# -----------------------------------------------------------------------------

# Oh My Zsh initialization

# -----------------------------------------------------------------------------

source "${ZSH}/oh-my-zsh.sh"

