export XDG_CONFIG_HOME="${XDG_CONFIG_HOME:-$HOME/.config}"
export XDG_DATA_HOME="${XDG_DATA_HOME:-$HOME/.local/share}"
export XDG_CACHE_HOME="${XDG_CACHE_HOME:-$HOME/.cache}"
export XDG_STATE_HOME="${XDG_STATE_HOME:-$HOME/.local/state}"

SOURCE_CODES="{{ get . "source_codes" | default ""  }}"
export SOURCE_CODES="${SOURCE_CODES:-${HOME}/.source_codes}"
PROGRAMS_DIR = "{{ get . "programs_dir" | default ""  }}"
export PROGRAMS_DIR= "${PROGRAMS_DIR:-${HOME}/.local}"

export ZSH="${PROGRAMS_DIR}/oh-my-zsh"

export LANG="{{ get . "lang" | default "C.UTF-8" }}"
export LC_ALL="{{ get . "lc_all" | default "C.UTF-8" }}"

{{ if .zsh.enable }}
#zsh
ZSH_COMPDUMP="{{ get .zsh "compdump" | default "" }}"
export ZSH_COMPDUMP="${ZSH_COMPDUMP:-${XDG_CACHE_HOME}/zsh/.zcompdump}"
ZSH_HISTFILE="{{ get .zsh "histfile" | default "" }}"
export HISTFILE="${ZSH_HISTFILE:-${XDG_STATE_HOME}/zsh/history}"
{{ end }}

{{ if .tmux.enable }}
#tmux
alias tmux="TERM=screen-256color-bce tmux"
{{ end }}

{{ if .neovim.enable }}
NVIM_PROGRAM_DIR="{{ get .neovim "program_dir" | default ""  }}"
NVIM_PROGRAM_DIR="${NVIM_PROGRAM_DIR:-${PROGRAMS_DIR:-${HOME}/.local}/neovim}"
export PATH="${NVIM_PROGRAM_DIR}/bin:${PATH}" 
# alias nvim="${NVIM_PROGRAM_DIR}/bin/nvim"
#chezmoi
export EDITOR="${NVIM_PROGRAM_DIR}/bin/nvim"
{{ end }}

