{{- if and .ai.enable (eq .chezmoi.os "linux") -}}
{{- $local_home_dir := "${HOME}" -}}
{{- $local_programs_directory := get . "programs_directory" | default (joinPath $local_home_dir ".local") -}}
#!/usr/bin/env bash

set -eu

{{- if $local_programs_directory }}
export OPENCODE_HOME="{{- $local_programs_directory -}}/opencode"
{{ else }}
export OPENCODE_HOME="${HOME}/.local/opencode"
{{- end }}

{{- if eq .chezmoi.osRelease.id "debian" "ubuntu" }}
#Update packages
sudo apt update
{{ end }}

curl -fsSL https://opencode.ai/install |                                                                                                                                                                
    sed "s|INSTALL_DIR=\$HOME/.opencode/bin|INSTALL_DIR=\$HOME/.local/bin|" |
    bash -s -- --no-modify-path

{{- end }}
