{{- if and .rust.enable (eq .chezmoi.os "linux") -}}
{{- $programs_directory := get . "programs_directory" | default (joinPath .chezmoi.homeDir ".local") -}}

#!/bin/sh

set -eu

export CARGO_HOME="{{ $programs_directory }}/cargo"
export RUSTUP_HOME="{{ $programs_directory }}/rustup"

{{- if or (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.osRelease.id "ubuntu") }}

# Update packages
sudo apt update

{{- include "install_packages/rust/ubuntu_debian" }}

{{- end }}

curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs \
    | sh -s -- -y --no-modify-path

. "${CARGO_HOME}/env"

{{- if and .c_cpp.enable .c_cpp.development .neovim.enable }}

# Install C/C++ Neovim tools
cargo install neocmakelsp

{{- end }}

{{- if .neovim.enable }}

# Install Neovim tools
cargo install --locked tree-sitter-cli

{{- end }}

{{- end }}
