{{- if .rust.enable -}}
{{- if eq .chezmoi.os "linux" -}}
#!/bin/sh

set -eu

LOCAL_PROGRAMS_DIR="{{ get . "programs_dir" | default "" }}"
LOCAL_PROGRAMS_DIR=${LOCAL_PROGRAMS_DIR:-${HOME}/.local}

CARGO_HOME="{{ get .rust "cargo_home" | default "" }}"
export CARGO_HOME="${CARGO_HOME:-${PROGRAMS_DIR:-${LOCAL_PROGRAMS_DIR}}/cargo}"

RUSTUP_HOME="{{ get .rust "rustup_home" | default "" }}"
export RUSTUP_HOME="${RUSTUP_HOME:-${PROGRAMS_DIR:-${LOCAL_PROGRAMS_DIR}}/rustup}"

{{if eq .chezmoi.osRelease.id "debian" "ubuntu" }}
{{- include "install_packages/rust/ubuntu_debian" -}}
{{- end }}

curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
. "${CARGO_HOME}/env"

{{ if (and .c_cpp.enable .c_cpp.development .neovim.enable) }}
# Install c cpp neovim tools
cargo install neocmakelsp
{{- end }}

{{ if .utilities.neovim.enable }}
# Install neovim tools
cargo install --locked tree-sitter-cli
{{- end }}

{{- end }}
{{- end }}
