{{- if .c_cpp.enable -}}
{{- if eq .chezmoi.os "linux" -}}
#!/bin/sh

set -eu

{{- if eq .chezmoi.osRelease.id "debian" "ubuntu" }}
{{ include "install_packages/c_cpp/ubuntu_debian" }}
{{- end }}

{{- end }}
{{- end }}
