{{- if eq .chezmoi.os "linux" -}}
#!/bin/sh

set -eu

{{if .utilities.tmux -}}
#install tmux
{{- if eq .chezmoi.osRelease.id "debian" "ubuntu" }}
{{ include "install_packages/tmux/ubuntu_debian" -}}
{{- end }}
{{- end }}

LOCAL_PROGRAMS_DIR="{{ get . "programs_dir" | default ""  }}"
LOCAL_PROGRAMS_DIR=${PROGRAMS_DIR:-${LOCAL_PROGRAMS_DIR:-${HOME}/.local}}

{{- if .utilities.tmux -}}
#install zsh 
{{- if eq .chezmoi.osRelease.id "debian" "ubuntu" }}
{{ include "install_packages/zsh/ubuntu_debian" -}}
{{- end }}

ZSH="{{ get .utilities.zsh "path" | default "" }}"
ZSH=${ZSH:-${PROGRAMS_DIR:-${LOCAL_PROGRAMS_DIR}}/oh-my-zsh}

ZSH=${ZSH} \
sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" \
"" --unattended --keep-zshrc

sudo chsh -s $(which zsh) $USER
{{- end }}

{{- if .utilities.neovim.enable -}}

# Get version from chezmoi data, environment, or ask interactively
NVIM_VERSION="{{- .utilities.neovim.version | default "" -}}"
PROFILE_FILE="{{ .profile | default "${HOME}/.profile" }}"

LOCAL_SOURCES_CODES="{{ get . "sources_codes" | default ""  }}"
LOCAL_SOURCES_CODES=${LOCAL_SOURCES_CODES:-${HOME}/.sources_codes}

NVIM_SOURCE_DIR="{{ get .utilities.neovim "source_codes" | default "" }}"
NVIM_SOURCE_DIR="${NVIM_SOURCE_DIR:-${SOURCES_CODES:-${LOCAL_SOURCES_CODES}/neovim}"
NVIM_PROGRAM_DIR="{{ get .utilities.neovim "program_dir" | default ""  }}"
NVIM_PROGRAM_DIR="${NVIM_PROGRAM_DIR:-${LOCAL_PROGRAMS_DIR}/neovim}"

echo "Neovim source directory: ${NVIM_SOURCE_DIR}"
echo "Neovim program directory: ${NVIM_PROGRAM_DIR}"

# Skip reinstall if same version already installed
if command -v ${NVIM_PROGRAM_DIR}/bin/nvim >/dev/null 2>&1; then
    INSTALLED_VERSION="(${NVIM_PROGRAM_DIR}/bin/nvim --version | head -n 1 | awk '{print \$2}')"; 
    if [ "${INSTALLED_VERSION}" = "${NVIM_VERSION}" ]; then
        echo "Neovim ${NVIM_VERSION} already installed. Skipping.";
        exit 0
    fi
fi

# Ask for version if not provided in environment

if [ -z "${NVIM_VERSION}" ]; then  
    printf "Enter Neovim version (example: v0.10.4): ";
    read ${NVIM_VERSION};
fi

# Validate input

if [-z "${NVIM_VERSION}" ]; then
    echo "Error version is required";
    exit 1
fi

REPO_URL="https://github.com/neovim/neovim.git"
{{ if eq .chezmoi.os "linux" }}
    {{if eq .chezmoi.osRelease.id "debian" "ubuntu" }}
{{- include "install_packages/neovim/ubuntu_debian" -}}
    {{ end }}
{{ else }}
    echo "Unsupported OS: {{ .chezmoi.os }}";
    exit 1;
{{ end }}
echo "Install Neovim version: ${NVIM_VERSION}"

# Remove old build directory
rm  -rf ${NVIM_SOURCE_DIR}

# Clone specific version
git clone --branch "v${NVIM_VERSION}" --depth 1 "${REPO_URL}" "${NVIM_SOURCE_DIR}"

cd $NVIM_SOURCE_DIR

# Build dependencies and compile
make CMAKE_EXTRA_FLAGS="-DCMAKE_INSTALL_PREFIX=${NVIM_PROGRAM_DIR}" CMAKE_BUILD_TYPE=Release

make install

echo "Neovim ${NVIM_VERSION} installed successfully"
nvim --version | head -n 1
{{- end }}

{{- end }}
